<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    <div class="bg-img">
        <form [formGroup]="loginForm" action="/action_page.php" class="container">
            <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" [class.is-invalid]="email.invalid&&email.touched">

                <div *ngIf="email.errors?.required && email.invalid && email.touched">
                    <small class="text-danger">Email ID is required.</small>
                </div>

                <div *ngIf="email.errors?.pattern && email.invalid && email.touched">
                    <small class="text-danger">Invalid email id.</small>
                </div>

            </mat-form-field><br />

            <!-- Password-->
            <mat-form-field floatLabel="auto" appearance="standard" color="primary">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" [class.is-invalid]="password.invalid&&password.touched">

                <!---->
                <div *ngIf="password.errors?.required && password.invalid && password.touched">
                    <small class="text-danger">Password is required.</small>
                </div>
                <!---->
            </mat-form-field><br />

            <a (click)="redirectToSignup()">Create a new account?</a>
            <button routerlinkActive="active" type="submit" class="btn" (click)="login()">Login</button><br />

        </form>
    </div>


</body>

</html>