a {
    text-decoration-color: white;
}

body,
html {
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("../../assets/thai-food.jpg");
    min-height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 10%;
}


/* Add styles to the form container */

.form-style {
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}


/* Full-width input fields */


/* Set a style for the submit button */

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 20px;
}

.center-align {
    text-align: center;
}

.btn:hover {
    opacity: 1;
}