<div>
    <mat-toolbar class="fixed-header" color="primary" style="min-height: 45px !important; height: 45px !important;">
        <mat-toolbar-row>
            <span style="cursor:pointer" routerLink="/home" (click)="homeitself()">Eat-N-Greet</span>

            <span class="example-spacer"></span>

            <button mat-button [matMenuTriggerFor]="dropdownoptions">Dropdown<mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-menu #dropdownoptions="matMenu">
        <button mat-menu-item routerlink='/login' routerlinkActive="active" (click)="logout()">Logout</button>
        <button mat-menu-item routerlink='/My-orders' routerlinkActive="active" (click)="orders()">My-orders</button>
        <button mat-menu-item routerlink='/postAMeal' routerlinkActive="active" (click)="postMeal()">Post-A-Meal</button>
    </mat-menu>
    <div class="split left">
        <div class="centered">
            <mat-card>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </mat-card><br>
            <button mat-raised-button color="primary" style="margin-right:5px;" (click)="bookMeal()">Book Now</button>
            <button mat-raised-button color="primary" style="margin-right:5px;" (click)="onBack()">Back</button>
        </div>
    </div>


    <div class="split right">
        <div class="centered">
            <mat-card class="example-card">
                <table>
                    <tr>
                        <td> Name </td>
                        <td> {{mealDetails.firstName}} {{mealDetails.lastName}}</td>
                    </tr>
                    <tr>
                        <td> Address </td>
                        <td> {{mealDetails.address.buildingName}} {{mealDetails.address.pincode}}</td>
                    </tr>
                    <tr>
                        <td>Serving Date</td>
                        <td>{{mealDetails.servingDate}}</td>
                    </tr>
                    <tr>
                        <td>paymentDeadline</td>
                        <td>{{mealDetails.paymentDeadline}}</td>
                    </tr>
                    <tr>
                        <td>Reservation Date</td>
                        <td> {{mealDetails.reservationDeadline}}</td>
                    </tr>
                    <tr>
                        <td>Preference Type</td>
                        <td>{{mealDetails.preferenceType}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{mealDetails.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Number of Persons to be served</td>
                        <td>{{mealDetails.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Actual people count</td>
                        <td>{{mealDetails.maxPeopleCount}}</td>
                    </tr>
                    <tr>
                        <td>Items List</td>
                        <td>

                            <div *ngFor="let item of mealDetails.itemList">{{item.name}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Note</td>
                        <td>{{mealDetails.note}}</td>
                    </tr>

                </table>
            </mat-card>
        </div>
    </div>
</div>