 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }
 
 td,
 th {
     border: 0px solid #dddddd;
     text-align: left;
     padding: 3px;
 }
 
 tr:nth-child {
     background-color: #dddddd;
 }
 
 .loader {
     position: fixed;
     z-index: 99999;
     top: 0%;
     right: 0%;
     height: 100%;
     width: 100%;
     background-color: white;
     opacity: 0.6;
     background: url('../../assets/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
 }
 
 .center-align {
     text-align: center;
 }
 
 @media (min-width: 1200px) {
     .container {
         max-width: 1294px !important;
     }
 }
 
 .example-spacer {
     flex: 1 1 auto;
 }
 
 mat-card.example-card.mat-card {
     max-height: 438px;
     height: 438px;
     overflow-y: scroll;
 }