<div>
    <mat-toolbar class="fixed-header" color="primary" style="min-height: 45px !important; height: 45px !important;">
        <mat-toolbar-row>
            <!--<a href="/" > Eat & Greeth </a>-->
            <span style="cursor:pointer" routerLink="/home" (click)="goToHome()">Eat-N-Greet</span>

            <span class="example-spacer"></span>

            <button mat-button [matMenuTriggerFor]="dropdownoptions">{{firstName}} {{lastName}}<mat-icon>
                        keyboard_arrow_down</mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-menu #dropdownoptions="matMenu">
        <a mat-menu-item (click)="goToMyOrders()">My Orders</a>
        <a mat-menu-item (click)="goToPostAMeal()">Post a Meal</a>
        <a mat-menu-item (click)="goToProfile()">Profile</a>
        <a mat-menu-item (click)="logout()" *ngIf="isLoggedIn">Logout</a>
        <a mat-menu-item (click)="login()" *ngIf="!isLoggedIn">Login</a>
    </mat-menu>
</div>
<mat-tab-group mat-align-tabs="center">

    <mat-tab label="Booked Orders">
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let bookedOrder of bookedOrders">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div>Visiting Date: {{bookedOrder.servingDate}}</div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div>Host: {{bookedOrder.firstName}} {{bookedOrder.lastName}}</div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    Served Items
                    <ul *ngFor="let item of bookedOrder.itemList">
                        <li>{{item.name}}</li>
                    </ul>
                    <table>
                        <tr>
                            <td>Address </td>
                            <td>
                                {{bookedOrder.address.floorNo}}-{{bookedOrder.address.unitNo}}, {{bookedOrder.address.blockNo}}, {{bookedOrder.address.buildingName}}, {{bookedOrder.address.streetName}} - {{bookedOrder.address.pincode}}
                            </td>
                        </tr>

                        <tr>
                            <td>Price</td>
                            <td>{{bookedOrder.price}}</td>
                        </tr>
                        <tr>
                            <td>Preference Type</td>
                            <td>{{bookedOrder.preference}}</td>
                        </tr>

                    </table>

                </div>

            </mat-expansion-panel>
            <div style="text-align: center" *ngIf="!bookedOrdersPresent">
                No orders
            </div>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Posted Orders">
        <br />
        <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let postedOrder of postedOrders">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div>Serving Date: {{postedOrder.servingDate}}</div>
                    </mat-panel-title>
                    <mat-panel-description>
                        <div>Attendee Count: {{postedOrder.actualPeopleCount}} / {{postedOrder.maxPeopleCount}} </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    Items served
                    <ul *ngFor="let item of postedOrder.itemList">
                        <li>{{item.name}}</li>
                    </ul>
                    <table>
                        <tr>
                            <td>Price</td>
                            <td>{{postedOrder.price}} SGD</td>
                        </tr>
                        <tr>
                            <td>Preference Type</td>
                            <td>{{postedOrder.preference}}</td>
                        </tr>
                        <tr>
                            <td>Reservation Deadline</td>
                            <td>{{postedOrder.reservationDeadline}}</td>
                        </tr>
                        <tr>
                            <td>Payment dDadline</td>
                            <td>{{postedOrder.paymentDeadline}}</td>
                        </tr>
                        <tr>
                            <td>Other Items</td>
                            <td>{{postedOrder.otherItems}}</td>
                        </tr>
                        <tr>
                            <td>note</td>
                            <td>{{postedOrder.note}}</td>
                        </tr>
                    </table>

                </div>

            </mat-expansion-panel>
            <div style="text-align: center" *ngIf="!postedOrdersPresent">
                No orders
            </div>
        </mat-accordion>


    </mat-tab>
</mat-tab-group>
<div>
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
            <a style="color: white"> Eat-N-Greet.com </a>
        </div>
        <!-- Copyright -->

    </footer>
</div>