<div *ngIf="isLoading" class="loader">
</div>


<div *ngIf="!isLoading">
    <mat-toolbar class="fixed-header" color="primary" style="min-height: 45px !important; height: 45px !important;">
        <mat-toolbar-row>
            <!--<a href="/" > Eat & Greeth </a>-->
            <span style="cursor:pointer" routerLink="/home" (click)="homeitself()">Eat-N-Greet</span>

            <span class="example-spacer"></span>

            <button mat-button [matMenuTriggerFor]="dropdownoptions">{{firstName}} {{lastName}}<mat-icon>
                    keyboard_arrow_down</mat-icon></button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-menu #dropdownoptions="matMenu">
        <a mat-menu-item routerlink='/My-orders' routerlinkActive="active" (click)="orders()">My-orders</a>
        <a mat-menu-item routerlink='/postAMeal' routerlinkActive="active" (click)="postMeal()">Post-A-Meal</a>
        <a mat-menu-item routerlink='/My-wallet' routerlinkActive="active" (click)="wallet()">Wallet</a>
        <a mat-menu-item routerlink='/profile' routerlinkActive="active" (click)="profile()">Profile</a>
        <a mat-menu-item (click)="logout()">Logout</a>
    </mat-menu>
</div>
<!-- card design here -->

<div class="carddiv" *ngIf="!isLoading">
    <mat-grid-list cols="3" rowHeight="350px" gutterSize="20px">
        <mat-grid-tile class="divcls" *ngFor="let order of orderList">
            <!-- {{order.orderId}}{{order.streetName}} {{order.imageUrl}} {{order.imageThumbnailUrl}} {{order.itemNames}} -->
            <mat-card class="example-card" fxLayoutWrap="wrap" fxLayout="column" fxFlex="150%" fxLayoutGap="0.1px">
                <mat-card-header>
                    <mat-card-title style="font-size: 14px">
                        {{order.cuisine}}
                    </mat-card-title>
                </mat-card-header>
                <img class="image" fxFlex="1%" mat-card-image src="{{order.imageUrl}}">
                <mat-card-content>
                    Address: {{order.streetName}} <br /> Items: {{order.itemNames}} <br /> Attendee Count: {{order.currentAttendeeCount}} / {{order.totalAttendees}}
                </mat-card-content>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerlink="/bookameal" routerLinkActive="active" (click)="viewOrderDetails(order.orderId)">View Details</button>
                    <!--   <button md-button>SHARE</button> -->
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>

<div *ngIf="!isLoading">
    <footer class="page-footer font-small blue" style="min-height: 45px !important; height: 45px !important;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
            <a style="color: white"> Eat-N-Greet.com </a>
        </div>
        <!-- Copyright -->

    </footer>
</div>